/*
Description: Dream Box CSS Code
Author: Vivek Singh
Author URI: http://www.dreamwebsite.asia
Date:2 June 2013
*/

.note {
background: #E3F0F2 url(images/Note.jpg) center no-repeat; 
border: 1px solid #66CCCC; 
background-position: 7px 50%; 
text-align: left; 
padding: 10px 10px 10px 45px; 
-moz-border-radius-bottomleft:4px; 
-moz-border-radius-bottomright:4px; 
-moz-border-radius-topleft:4px; 
-moz-border-radius-topright:4px; 
-webkit-border-top-left-radius:4px; 
-webkit-border-top-right-radius:4px; 
-webkit-border-bottom-left-radius:4px; 
-webkit-border-bottom-right-radius:4px;}

.alert {background: #ffffa0 url(images/alert.jpg) center no-repeat; border: 1px solid #E6DB55; background-position: 7px 50%; text-align: left; padding: 10px 10px 10px 45px; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;}

.help {background: #CCFFFF url(images/help.png) center no-repeat; border: 1px solid #3399FF; background-position: 7px 50%; text-align: left; padding: 10px 10px 10px 45px; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;}

.important {background: #159EC7 url(images/important.jpg) center no-repeat; border: 1px solid #99C68E; background-position: 7px 50%; text-align: left; padding: 10px 10px 10px 45px; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;}

.tips {background: #E66C2C url(images/tips.jpg) center no-repeat; border: 1px solid #800517; background-position: 7px 50%; text-align: left; padding: 10px 10px 10px 45px; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;}

.windows {background: #b4d362 url(images/windows.jpg) center no-repeat; border: 1px solid #355b2f; background-position: 7px 50%; text-align: left; padding: 10px 10px 10px 45px; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;}

.linux {background: #ffd033 url(images/linux.jpg) center no-repeat; border: 1px solid #000000; background-position: 7px 50%; text-align: left; padding: 10px 10px 10px 45px; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;}

.download {background: #7BF697 url(images/download.png) center no-repeat; border: 1px solid #E6DB55; background-position: 7px 50%; text-align: left; padding: 10px 10px 10px 45px; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;}

.mac {background: #2CA7ED url(images/mac.jpg) center no-repeat; border: 1px solid #E6DB55; background-position: 7px 50%; text-align: left; padding: 10px 10px 10px 45px; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;}